@import "~@angular/material/prebuilt-themes/indigo-pink.css";

html, body {
  height:100%;
}

.bg {
  /* The image used */
  background-image: url("assets/ODRAH30.jpg");

  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
